* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: white
}
.detail-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    width: 90vw;
    margin: auto;
    max-width: 420px;
    max-height: 900px;
}

.detail-content h1{
    color: white;
    margin: 1rem 0;
    
}

.detail-content .detail-type{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
}

.detail-content .detail-type .name {
    margin-bottom: 0.25rem;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
}

.detail-content .detail-type .number {
    color: #fff;
    text-align: right;
    opacity: 1.1;
    font-size: 1rem;
}
.detail-content .detail-type img {
    max-height: 100%;
    width: 80%;    
    margin: auto;
    display: block;
}

.detail-content .detail-type .types{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 0;    
    padding: 1rem;
}

.detail-content .detail-type .types .type{
    color: white;
    padding: .5rem 1rem;
    margin: .25rem .25rem;
    font-size: 1rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(0.9);
    background-color: #77c850;
    
}
.detail-content .about{
    border-radius: 1rem;    
    background-color: white;
    padding: 1rem;
    
}

.detail-content .about .table-tile th {
    text-align: left;
    padding: 2rem;
    margin: 4rem;
}

.detail-content .about .key{
    color: gray;
}
.detail-content .about .value {
    padding-left: 2rem;
}
